/*universal selector property*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    background-color: #141414;
    display: flex;
    justify-content: center;
    align-items: center
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
}

form {
    display: flex;
}

input_container[type="text"] {
    margin-bottom: 20px;
}

input::placeholder {
    color: #141414;
    text-align: center;
}

.search-button {
    color: #f4f4f4;
    background-color: #141414;
    width: 100px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border: 1px solid #f4f4f4;
}

.output_container {
    text-align: center;
    margin-top: 20%;
}

.city_name, .temperature {
    text-align: center;
    font-size: 3em;
    line-height: 1.2em;
    color: white;
}

